<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhadat_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".checknetwork.NetworkApp"
        android:allowBackup="true"
        android:icon="@mipmap/logoimg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoimg"
        android:supportsRtl="true"
        android:theme="@style/Theme.NhaDat_App">
        <activity android:name=".Gallery"
            android:theme="@style/ImageZoom"
            />
        <activity
            android:name=".DangTinActivity.DangTin_GT"
            android:label="Thông tin chi tiết"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".DangTinActivity.ChooseAdress"
            android:label="Chọn địa chỉ"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".DangTinActivity.DangTin_MoTa"
            android:label="Tiêu đề và mô tả"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".DangTinActivity.DangTin_TT"
            android:label="Giá và diện tích"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".DangTinActivity.DangTin_Provinces"
            android:label="Chọn địa chỉ"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".DangTinActivity.DangTin_Image"
            android:label="Chọn ảnh"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".DangTinActivity.DangTIn_DanhMuc"
            android:label="Chọn danh mục"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".Following"
            android:label="Đang theo dõi"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ImageZoom"
            android:label=""
            android:theme="@style/ImageZoom" />
        <activity android:name=".Chat" />
        <activity
            android:name=".Follow"
            android:label="Theo dõi"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".WritingComment"
            android:label="Đánh giá"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Rating" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".Admin" />
        <activity android:name=".ItemDanhMuc" />
        <activity android:name=".UpdateItem" />
        <activity
            android:name=".TTTinDang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".checknetwork.ConnectionNetwork"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- back4app -->
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" /> <!-- //// -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:267196795826" />

        <service android:name="com.parse.fcm.ParseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>